# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Environment variables & secrets
.env
.env.*
!.env.example

# Databases & logs
*.db
*.sqlite3
*.log

# Virtual Environments
venv/
env/
ENV/
.venv/

# Pytest cache
.pytest_cache/
.coverage
